*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */

body{
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content: ' ';
  display: table;
  clear: both;
}

.container{
  background-color: rgb(99, 51, 143);
  width: 75%;
  height: 800px;
  margin: 15px auto;
  padding-top: 20px;
}



/* MAIN */
/* 
.container .outfit{
  width: 32%;
  height: 630px;
  float: left;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  position: relative;
}
/* 
.outfit .heart{
  width: 45px;
  height: 45px;
  background-color: white;
  text-align: center;
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 2rem;
  line-height: 45px;
}

.outfit .discount{
  
  height: 35px;
  background-color: #eb0037;
  left: 0;
  bottom: 25px; 
}

.outfit .sostenibile{
  
  height: 35px;
  background-color: #00875a;
  left: 60px;
  bottom: 25px;
}

.outfit .sostenibile, .discount{
  position: absolute;
  text-align: center;
  line-height: 35px;
  padding: 0px 6px;
  color: white;
}

.row .outfit.right .sostenibile.no-discount{
  left: 0;
}

.article-description{
  width: 100%;
  height: 50px;
  background-color: #00875a;
}

*/

